<div class="login">
  <div class="login__title">
    <h1>Log in</h1>
  </div>
  <%= form_with model: @manager, url: manager_session_path, local: true do |f| %>
    <table class="login__content">
      <tr>
        <th class="login__content--item">name</th>
        <td><%= f.text_field :name, autofocus: true, class: "login__content--form" %></td>
      </tr>
      <tr>
        <th class="login__content--item">email</th>
        <td><%= f.email_field :email, autofocus: true, class: "login__content--form" %></td>
      </tr>
      <tr>
        <th class="login__content--item">password</th>
        <td><%= f.password_field :password, autocomplete: "current-password", class: "login__content--form" %></td>
      </tr>
    </table>
    <div class="login__action">
      <%= f.submit "Log in", class: "login__action--btn" %>
    </div>
  <% end %>
</div>
