<div class="login">
  <div class="login__title">
    <h1>Log in</h1>
  </div>
  <%= form_with model: @manager, url: manager_session_path, local: true do |f| %>
    <div class="login__content">
      <ul>
        <li>
          <p>name</p>
          <%= f.text_field :name, autofocus: true %>
        </li>
        <li>
          <p>email</p>
          <%= f.email_field :email, autofocus: true %>
        </li>
        <li>
          <p>password</p>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </li>
      </ul>
    </div> 
    <div class="login__action">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>
