<h1>商品詳細</h1>

<table>
  <tr>
    <th>商品名</th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th>商品説明</th>
    <td><%= @item.introduction %></td>
  </tr>
  <tr>
    <th>サイズ</th>
    <td>
      H: <%= @item.size_height %></br>
      W: <%= @item.size_width %>
    </td>
  </tr>
  <tr>
    <th>価格</th>
    <td><%= @item.price %></td>
  </tr>
</table>

<%= link_to '編集', edit_managers_item_path(@item.id) %>
<%= link_to '一覧', managers_items_path %>
